# .gitignore
# Environment variables
**/backend/.env

# Virtual environment
**/backend/venv/
**/backend/env/
**/*.pyc
**/__pycache__/

# IDE specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Node.js
**/node_modules/
**/package-lock.json   # Optional, if you want to ignore it
